.main p {
  text-align: center;
  color: black;
}
/*style for every line in the data*/
.people {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 0%;
}

.nav {
  margin-bottom: 6rem;
}

.name {
  font-size: 1.3rem;
  font-style: bold;
  color:#0e0e36;
  letter-spacing: 5px;
  margin-bottom: 0;
}

.delete {
  grid-column: 7/8;
}

.edit {
  grid-column: 8/9;
}

.show {
  grid-column: 9/10;
}

article {
  background-color: white;
}
/*for the book,and to do steicky footer */
.all-main {
  flex-grow: 1;
  width: 800px;
  height: 90%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

img {
  width: 55%;
  height: 55%;
  border-radius: 100%;
  margin-left: 1rem;
  margin-top: 1rem;
}

.search {
  float: left;
  padding: 6px;
  font-size: 1rem;
  margin: 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #0e0e36;
  border-radius: .5rem;
}

button {
  padding: 5px;
  font-size: 1rem;
  float: right;
  margin: 12px;
}

/*overlay to the form */
.overlay {
  position: fixed;
  visibility: visible;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0%;
}
/* form attribute*/
.container {
  width: 600px;
  background: rgba(185, 184, 184, 0.993);
  height: 550px;
  position: absolute;
  justify-content: center;
  visibility: visible;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
h5 {
  margin-left: 2rem;
  font-style: italic;
}
