/*overlay to the form */
.overlay {
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
/*to show person details*/
.details {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  color: black;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(184, 226, 184);
  padding: 2rem;
  column-gap: normal;
}
p {
  font-size: 1rem;
}
.detailExit {
  margin-left: 9rem;
}
